body {
    background-color: #C8CCC9;
}
.jumbotron {
    background-color: #C8CCC9;
    color: #656566;
    text-align: center;
    margin-bottom: 0;
}
h1{
    font-family: Oxygen, sans-serif;
    letter-spacing: 10px;
    font-size: 12px;
    margin-bottom: -15px;
}
h2{
    font-family:'Over the Rainbow';
    margin-top: -15px;
}
nav{
    margin-top: 0;
    margin-bottom: 0;
}
.row .feature .thumbnail{
    padding: -2px;
    width: 287px;
    
}


div.feature{
    padding: 0;
    background-size:cover;
    background-position: center center;
}

/* resize images */
.row .thumbnail img {
    width: 100%;
    height: auto;
    font-family: Oxygen, sans-serif;
}
.page-header{
    font-size: 10px;
    line-height: 20px;
    background-color: #DEE1E3;
    color: #656566;
}